.main_div {
    width: 100%;
    height: 100%;
}

.main_div img {
    width: 100%;
    height: 100%;
}

.navbar.navbar-default {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.5);
    border-bottom: solid 1px #000;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    z-index: 3;
    transition: 0.5s;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar {

     min-height: 0px;
     margin-bottom: 0px;
     border: 0px solid transparent;
    border-radius: 0px;
}

*{
    padding:0px;
    margin: 0px;
}

#welcome {
    background: #fff;
    padding: 100px;
}

.welcome {
    padding: 50px;
    text-align: justify;
}

.event {
    background: darkcyan;
    padding: 60px;
}

.event h1 {
    color: white;
    font-size: 27px;
}

.event button {
    padding: 5px 20px;
}

#footer {
    background: #152736;
    color: white;
    padding: 100px;
}

#footer p {
    font-size: 16px;
}

#footer span {margin-left: 20px;}

#footer_bottom {
    background: #101b24;
    padding: 22px;
    text-align: center;
    color: white;
}

.isActive{
    background-color: #fff!important;
    box-shadow: 0px 1px 3px #ccc;
}

.isActive ul li a {
    color: black!important;
    font-size: 16px;
    font-family: sans-serif;
}

.isActive a.navbar-brand {
    color: black!important;
}

/*about us style*/


#about {
    margin-top: 4%;
    background: #f7f7f7;
}

.about_header {
    text-align: center;
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 10px;
}

.about_img {
    width: 100%;
    height: 100%;
    border: solid 1px #e5e5e5;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 50px;
}

.about_img img {
    width: 100%;
    height: auto;
}

.about_details_one {
    padding: 30px 0px;
    font-size: 16px;
    font-family: sans-serif;
}



/*admission form style*/


/*----------------------------------------------------------Print Admission form----------------------------------------------------------*/

.admission-area.page-content-area {
    padding: 50px 0px;
}

#form-print {
    margin-bottom: 20px;
}

.form-body {
    border: 2px solid #152736;
    margin-top: 20px;
    padding: 0px 20px 5px 20px;
}

.school-logo img {
    max-height: 110px;
}

.school-info p {
    margin-bottom: 0;
    color: #777;
}

.school-info h2 {
    font-weight: 700;
    margin-bottom: 0;
}

.school-info h3 {
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0;
}

.student-img {
    height: 130px;
    width: 100px;
    margin-left: auto;
    border: 2px solid #6b6b6b;
    padding: 10px;
    padding-top: 50px;
}
.block-title {
    margin-left: -20px;
    margin-right: -20px;
    padding: 5px;
    position: relative;
    color: #fff;
    margin-bottom: 20px;
    z-index: 2;
    background: #152736 !important;
}

.block-title:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    border-bottom: 36px solid #000;
}

.block-title h4 {
    margin-bottom: 0;
}

.form-head {
    margin-top: 1cm;
}
.form-body .input-title {
    float: left;
    margin-right: 8px;
}

.form-body .form-field {
    overflow: hidden;
    border-bottom: 1px dotted #708596;
    min-height: 20px;
}
.form-body .s-row {
    margin-bottom: 15px;
}
.p-r-10{
    padding-right: 10px;
}
.w-30{
    width: 33.333%;
}